NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_WHATSAPP_NUMBER=5592984501267
NEXT_PUBLIC_COMPANY_EMAIL=imperiodabelezavariedades@gmail.com

CATALOG_API_KEY=defina-uma-chave-forte

SMTP_HOST=smtp.seuprovedor.com
SMTP_PORT=587
SMTP_USER=seu-usuario
SMTP_PASS=sua-senha
SMTP_SECURE=false
SMTP_FROM=catalogo@seudominio.com
COMPANY_EMAIL=imperiodabelezavariedades@gmail.com
